/* ----------------- ПЕРЕМЕННЫЕ --- */
:root {
  --color-background: #F7F7F7;
  --color-black: #000000;  
  --color-basic: #080138;  


  --color-accent: #2400FF;
  --color-blue: #1C00C8;
  --color-grey: rgba(8, 1, 56, 0.22);
  --color-grey-light: rgba(8, 1, 56, 0.16);

}
